@font-face {
  font-family: 'Arkhip';
  src: url('../fonts/Arkhip_font.ttf');
}
@font-face{
  font-family: 'Adam';
  src: url('../fonts/Adam_pro.otf');
}

/* General */

body{
	overflow: hidden;
}

ul li{
	display: inline-block;
}
.clearfix{
    clear: both;
}

/* Navigation */

#event-slider{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.event-slider-menu{
	height: 30px;
	margin-right: 10px;
}

#event-menu-icons{
    padding-left: 40px;
    float: left;
}
#other-menu-icons{
    padding-right: 40px;
    float: right;
}
/* Social Block */

#social-block a{
    color: white;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    height: 1.2em;
}
.bp-header nav a:hover{
  background: #222125;
}
/* Slide */

.slider{
	padding-bottom: 0px;
}
.slide-title-wrapper{
	width: 40%;
    margin: 0 auto;
    display: table;
    height: 80px;
    background:transparent;
    /* z-index: 10; */
    color: white;
}
.slide-title{
	font-size: 1.75em;
    font-weight: normal;
    /* margin: 0 auto; */
    /* padding: 1em 0 0 0; */
    display: table-cell;
    vertical-align: middle;
    font-family: 'Arkhip';
}


.preview img{
    height: 300px;
}


/* Member card */
.honeycombs .hex_inner{
    border-top: 2px solid #ECD148;
    border-bottom: 2px solid #91DE69;
}


/* Stars */
/*
#layers {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.layer.layer-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.layer.layer-3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.layer.layer-4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.layer.layer-5 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.star {
  width: 11px;
  height: 11px;
  display: inline-block;
  position: absolute;
  fill: #ffffff;
}
.star:nth-child(3n+3) {
  fill: #FEC777;
}
.star:nth-child(5n+5) {
  fill: #498FB3;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
*/

/* Events */
.event-image{
          height: 60px;
          width: auto;
          margin: 0 auto;
        }
        .event{
          position: relative;
          height: 175px;
          text-align: center;
          line-height: 175px;
          border: none;
        }
        .event-name{
          position: absolute;
            bottom: 0px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            left: 0px;
            color: #FF8A00;
        }
/* Animation */
.come-in {
  transform: translateY(150px);
  animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.5s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@-webkit-keyframes FadeIn { 
  0% { opacity:0; -webkit-transform:scale(.1);}
  85% {opacity:1; -webkit-transform:scale(1.05);}
  100% {-webkit-transform:scale(1); }
}

.fade-in{
  -webkit-animation: FadeIn 1.5s linear; -webkit-animation-fill-mode:both; 
}

.fade-in:nth-child(1){ -webkit-animation-delay: .5s }
.fade-in:nth-child(2){ -webkit-animation-delay:  1s }
.fade-in:nth-child(3){ -webkit-animation-delay: 1.5s }
.fade-in:nth-child(4){ -webkit-animation-delay: 2s }
.fade-in:nth-child(5){ -webkit-animation-delay: 2.5s }
.fade-in:nth-child(6){ -webkit-animation-delay: 3s }
.fade-in:nth-child(7){ -webkit-animation-delay: 3.5s }
.fade-in:nth-child(8){ -webkit-animation-delay: 4s }
.fade-in:nth-child(9){ -webkit-animation-delay: 4.5s }


